.pagelayout {
  display: grid;
  grid-template-columns: 10% 80%;
  grid-template-rows: 10% 10% 10% auto 30px;
  justify-items: center;
  align-items: center;
  text-align: center; }

h1 {
  font-size: 24pt;
  margin: 0px;
  text-shadow: 2px 2px 3px black; }

h2 {
  margin: 10px 0px; }

body {
  font-family: Montserrat;
  font-size: 12pt;
  color: #ececec;
  background-color: #363636; }

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 15px;
  font-family: garamond, Times, serif;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.header.header-small {
  margin-left: -90%; }

.searchrow {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.searchrow.searchrow-small {
  grid-row-start: 1;
  grid-row-end: 2; }

main {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat; }

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5; }

button {
  margin: 10px; }

input {
  height: 40px;
  width: 30%;
  border-radius: 5px;
  background: url("../img/searchicon.png") no-repeat 0 0;
  background-size: 25px;
  background-position: center;
  background-color: transparent;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  font-size: 12pt;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 0);
  padding: 10px;
  outline: none;
  border: 1px solid #b9b9b9;
  -webkit-transition: all 0.40s ease-in-out;
  -moz-transition: all 0.40s ease-in-out;
  -ms-transition: all 0.40s ease-in-out;
  -o-transition: all 0.40s ease-in-out; }

input:focus {
  color: white;
  background: center;
  background-color: #585757;
  box-shadow: 0px 0px 15px #51cbee;
  width: 100%; }

input:hover {
  width: 100%; }

a {
  color: #66baff; }

a:visited {
  color: #f5a8f5; }

a:hover {
  color: blue; }

ul {
  list-style-type: none;
  padding: 0; }

.wikicontainer {
  margin: 10px; }

.searchbox {
  padding-top: 20px;
  padding-bottom: 20px; }

.inforow {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat; }

.wikiarticlesgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  max-width: 1920px;
  opacity: 0;
  margin-top: 90%;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear; }

.wikiarticle {
  background: #747474;
  padding: 15px;
  text-align: justify;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.wikiarticle h2 {
  text-align: left; }

.wikiarticle:hover {
  box-shadow: 4px 0 0 #00f7ff inset, 2px 2px 10px black;
  background: #18174e;
  cursor: pointer; }

.wikiarticlesgrid.wikiarticlesgrid-small {
  margin-top: unset;
  opacity: 1; }

.responsiveimg {
  max-width: 100%;
  height: auto; }

.wikilogo {
  max-width: 80%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.wikilogo.wikilogo-small {
  max-width: 20% !important; }

.supercapital, .supercapital.supercapital-small {
  font-size: 48pt;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.supercapital.supercapital-small {
  font-size: 13.8pt !important; }

.wikipediatitle {
  font-size: 36pt;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.wikipediatitle.wikipediatitle-small {
  font-size: 12pt;
  letter-spacing: 3px; }

.viewer {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.viewer.viewer-small {
  font-size: 12pt; }

@media (max-width: 992px) {
  .wikicontainer {
    margin: 5px; } }
@media (max-width: 1120px) {
  .header.header-small {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: unset;
    padding: 0; }

  .searchrow.searchrow-small {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; }

  .wikilogo.wikilogo-small {
    max-width: 20% !important; } }

/*# sourceMappingURL=style.css.map */
